{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid h-100" id="launch-section">
        <div class="row h-100 launch-01">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-1 launch-title">
                    Plants Make<br>People Happy
                </h1>
                <div class="my-5">
                    <a href="{% url 'products' %}" class="default-button btn-lg rounded-0 text-uppercase py-3">SHOP ALL INDOOR PLANTS</a>
                </div>
            </div>
        </div>
        <div class="row launch-02">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 shop-collection-title">
                    shop by collection
                </h2>
                <div class="row h-100 w-100">
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <img src="{% static 'img/cacti_succ.jpg' %}" alt="Succulents" class="category-img">
                        <a href="{% url 'products' %}?category=cacti_succulents" class="category-caption text-uppercase py-3">Cacti & Succulents</a>
                    </div>
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <img src="/static/img/hanging.jpg" alt="Hanging plants" class="category-img">
                        <a href="{% url 'products' %}?category=hanging_trailing" class="category-caption text-uppercase py-3">Hanging & Trailing</a>
                    </div>
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <img src="/static/img/foliage.jpg" alt="Zoomed in foliage" class="category-img">
                        <a href="{% url 'products' %}?category=foliage_fern" class="category-caption text-uppercase py-3">Foliage & Fern</a>
                    </div>
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <img src="/static/img/tropical.jpg" alt="Tropical plants" class="category-img">
                        <a href="{% url 'products' %}?category=tropical" class="category-caption text-uppercase py-3">Tropical</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row launch-03">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 company-reasons-title">
                    why hygge houseplants?
                </h2>
        </div>
    </div>
{% endblock %}