{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid h-100" id="launch-section">
        <div class="row h-100 launch-01">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-1 launch-title">
                    Plants Make<br>People Happy
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">SHOP ALL INDOOR PLANTS</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row launch-02">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 shop-collection-title">
                    shop by collection
                </h2>
                <div class="row h-100 w-100">
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <!-- TODO: insert image here -->
                        <h4>
                            <a href="" class=" text-uppercase py-3">Cacti & Succulents</a>
                        </h4>
                    </div>
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <!-- TODO: insert image here -->
                        <h4>
                            <a href="" class=" text-uppercase py-3">Hanging & Trailing</a>
                        </h4>
                    </div>
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <!-- TODO: insert image here -->
                        <h4>
                            <a href="" class=" text-uppercase py-3">Foliage & Fern</a>
                        </h4>
                    </div>
                    <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 my-5">
                        <!-- TODO: insert image here -->
                        <h4>
                            <a href="" class=" text-uppercase py-3">Tropical</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}