{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container" id="page-order-confirmation">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You!</h2>
                <hr>
                <p class="text-black">Your order information is below. An order confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
				<a href="{% url 'products' %}" class="default-button btn-black rounded-0 my-2" id="success-return-btn">
					<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase">Back to shopping!</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}