@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Gelasio:wght@600&family=Hind:wght@300;400;500;600;700&display=swap');

:root {
    --polarwhite: #FAFCFE;
    --yellowgreen: #F8FFD2;
    --palegreen: #BCCEB5;
    --orange: #E7832D;
    --darkgreen: #25463F;
    --bluegray: #D5E0E9;
    --peach: #FEE1C8;
    --black: #101010;
    --font-gelasio: "Gelasio", sans-serif;
    --font-figtree: "Figtree", sans-serif;
    --font-hind: "Hind", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    max-width: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.hidden {
    display: none !important;
}

header {
    background-color: var(--darkgreen);
    color: var(--yellowgreen);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.nav-link {
    color: var(--yellowgreen);
    font-family: var(--font-figtree);
    font-weight: 300;
}

.nav-link:hover {
    color: var(--polarwhite);
}

.logo-font {
    text-transform: uppercase;
    font-family: var(--font-figtree);
    font-weight: 600;
}

.main-logo-link {
    width: fit-content;
}

.btn {
    font-family: var(--font-hind);
}

.shop-now-button {
    background-color: var(--black);
    color: var(--polarwhite);
    min-width: 3rem;
}

.btn-black {
    background-color: var(--black);
    color: var(--polarwhite);
}

.shop-now-button:hover,
.btn-black:hover,
.category-caption:hover {
    text-decoration: none;
}

.shop-now-button:hover,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color: var(--orange);
    color: var(--black);
}

.category-caption:hover {
    opacity: 50%;
}

.text-black {
    color: var(--black);
}

.border-black {
    border: 1px solid var(--black);
}

/*Launch Page*/

.launch-title, .shop-collection-title, .company-reasons-title {
    font-family: var(--font-gelasio);
    color: var(--darkgreen);
}

.launch-01, .launch-02, .launch-03 {
    padding-top: 3%;
    padding-bottom: 2%;
}

.launch-01 {
    background-color: var(--bluegray);
}

.launch-02 {
    background-color: var(--polarwhite);
}

.launch-03 {
    background-color: var(--peach);
}

#banner {
    background-color: var(--black);
    width: 100vw;
}

#icon-user, #icon-bag {
    font-size: 1.6em;
}

#icon-search {
    color: var(--polarwhite);
}

.category-img {
    height: 20vh;
    width: 25vh;
}

.category-caption {
    font-size: 1.6rem;
    color: var(--black);
    white-space: nowrap;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {

    #launch-section{
        padding-top: 4%;
    }
}