 <div class="col-md-12" id="filter-section">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <div class="col-md-3">
                <h2 class="grid-title row-gap"><i class="fa fa-filter"></i> Filters</h2>           
                <div class="row-gap" id="filter-selector">
                    <h4>NEEDINESS</h4>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="low_care"> Unkillable</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="medium_care"> Easy to take care</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="high_care"> Needs a lot of TLC</label>
                    </div>
                </div>  
                <div class="row-gap">
                    <h4>LIGHT</h4>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="low_light"> Low light</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="medium_light"> Medium light</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="high_light"> Bright light</label>
                    </div>
                </div>
                <div class="row-gap">
                    <h4>PET-PARENT?</h4>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck" value="pet_friendly"> Pet-friendly?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>