 <div class="col-md-12" id="filter-section">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <div class="col-md-3" id="filter-section">
                <h2 class="grid-title row-gap"><i class="fa fa-filter"></i> Filters</h2>           
                <!-- TODO: Replace label text with dynamic ones (care_friendly_name, light_friendly_name)-->
                <div class="row-gap">
                    <h4>NEEDINESS</h4>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> low_care</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> medium_care</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> high_care</label>
                    </div>
                </div>  
                <div class="row-gap">
                    <h4>LIGHT</h4>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> low_light</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> medium_light</label>
                    </div>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> high_light</label>
                    </div>
                </div>
                <div class="row-gap">
                    <h4>PET-PARENT?</h4>
                    <div class="checkbox">
                    <label><input type="checkbox" class="icheck"> Pet-friendly?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>