<footer class="text-center text-white" id="footer">
    <!-- Section: Social media -->
    <section class="row pt-4 pb-4">
        <!-- Facebook -->
        <div class="col-3"></div>
        <div class="col-2">
            <a
                class="btn btn-link btn-lg text-dark m-1"
                href="https://www.facebook.com/plantsandpapers/"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-facebook-f"></i
            ></a>
        </div>

        <!-- Google -->
        <div class="col-2">
            <a
                class="btn btn-link btn-lg text-dark m-1"
                href="https://g.co/kgs/gi7AMYG"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-google"></i
            ></a>
        </div>

        <!-- Instagram -->
        <div class="col-2">
            <a
                class="btn btn-link btn-lg text-dark m-1"
                href="https://www.instagram.com/plantsandpapers/"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-instagram"></i
            ></a>
        </div>
        <div class="offset-col-3"></div>
    </section>
    <div class="col-12 text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 Copyright
    </div>
</footer>
    